/*
//William Kim
//williamkim1@my.smccd.edu
//CIS114
//itunes.css
//Assignment6
//11/26/2014
 */
html { background-color:#eeeeee; }
select {
    border:3px groove #006600;
    color: #0000FF;
    background: transparent;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 10px;
    width: 250px;
}
body {
      background-color:#ccffcc;
      font-family:Tahoma,Arial,Helvetica,sans-serif;
      font-size:12px;
	  margin-left:15%; 
	  margin-right:15%;
	  border:3px groove #006600; 
	  padding:15px
	 }
h1   {
      text-align:left;
      font-size:1.5em;
      font-weight:bold
     }