/*
//William Kim
//williamkim1@my.smccd.edu
//CIS114
//wills.css
//Assignment7
//12/01/2014
*/
body {
    font: 75% Verdana, Helvetica, Arial, sans-serif;
    background: White;
    color: Black;
    margin: 1em;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: Black;
    clear: left;
    font: 100% Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    padding-left: 0.5em;
} 

h1 {
    font-size: 150%;
    border-bottom: none;
    text-align: right;
    border-bottom: 1px solid Gray;
}
    
h2 {
    font-size: 130%;
    border-bottom: 1px solid Gray;
}

li {
    margin-bottom: 1em;
}
